.row{
    padding: 20px;
    background-color: #caaacd;
}

footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 1px -2px 5px #E9DEEB;
}