<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet 
                consectetur adipisicing 
                elit. Ab veritatis ullam 
                cupiditate pariatur magni 
                voluptatibus iure, veniam 
                dolore aspernatur error 
                reprehenderit odio, itaque 
                eaque? Reiciendis earum 
                reprehenderit dolorum 
                corporis numquam?</p>                               
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet 
                consectetur adipisicing 
                elit. Ab veritatis ullam 
                cupiditate pariatur magni 
                voluptatibus iure, veniam 
                dolore aspernatur error 
                reprehenderit odio, itaque 
                eaque? Reiciendis earum 
                reprehenderit dolorum 
                corporis numquam?</p>                               
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet 
                consectetur adipisicing 
                elit. Ab veritatis ullam 
                cupiditate pariatur magni 
                voluptatibus iure, veniam 
                dolore aspernatur error 
                reprehenderit odio, itaque 
                eaque? Reiciendis earum 
                reprehenderit dolorum 
                corporis numquam?</p>
                                
        </ul>
    </div>
</div>