<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lgl-7 parte1">
            <h2>Encriptador</h2> - <h3>(Fecha)</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque veritatis quaerat 
                unde quis amet similique ut consequuntur officiis, exercitationem modi, eius, 
                suscipit laudantium facilis consectetur. Error cumque alias quam odit.
            </p>      
        </div>
        <div class="col-sm-12 col-md-3 col-lgl-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/banner1.png" class="img-fluid img-proyecto"> 
        </div>
    </div>
</div>
